.container {
  text-align: center;
}

.btnPos {
  vertical-align: bottom !important;
}

.todo-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: 30rem;
  &-row.MuiListItem-root {
    text-align: center;
  }
}
